<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbConnectionString" providerName="Npgsql" connectionString="Host=localhost;Username=postgres;Password=password;Database=ConcursuriScolare;"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
