<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connection" connectionString="Server=LAPTOP\SQLEXPRESS;Database=MusicShop;Integrated Security=true;TrustServerCertificate=true;" providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="MasterTableName" value="Inventory"/>
    <add key="DetailTableName" value="Promotions"/>
    <add key="MasterNumberOfColumns" value="6"/>
    <add key ="DetailNumberOfColumns" value="3"/>
    <add key="MasterColumnNames" value="code,name,category,manufacturer,priceUnitList,stock"/>
    <add key="DetailColumnNames" value="id,itemCode,discountPercent"/>
    <add key="DetailFKName" value="itemCode"/>
    <add key="DetailPKName" value="id"/>
    <add key="DetailColumnNamesInsertParameters" value="@id,@itemCode,@discountPercent"/>
    <add key="DetailUpdateQuery" value="UPDATE Promotions SET itemCode=@itemCode, discountPercent=@discountPercent WHERE id="/>
    <add key="DetailInsertQuery" value="INSERT INTO Promotions (itemCode, discountPercent) VALUES (@itemCode, @discountPercent)"/>
  </appSettings>
  


</configuration>

<!--
<appSettings>
    <add key="MasterTableName" value="Admins"/>
    <add key="DetailTableName" value="StockOrders"/>
    <add key="MasterNumberOfColumns" value="4"/>
    <add key ="DetailNumberOfColumns" value="5"/>
    <add key="MasterColumnNames" value="id,name,email,since"/>
    <add key="DetailColumnNames" value="id,dateCreated,adminId,itemCode,quantity"/>
    <add key="DetailFKName" value="adminId"/>
    <add key="DetailPKName" value="id"/>
    <add key="DetailColumnNamesInsertParameters" value="@id,@dateCreated,@adminId,@itemCode,@quantity"/>
    <add key="DetailUpdateQuery" value="UPDATE StockOrders SET dateCreated=@dateCreated, adminId=@adminId, itemCode=@itemCode, quantity=@quantity WHERE id="/>
    <add key="DetailInsertQuery" value="INSERT INTO StockOrders (dateCreated, adminId, itemCode, quantity) VALUES (@dateCreated, @adminId, @itemCode, @quantity)"/>
  </appSettings>

  

 
-->